.badge {
    font-size: var(--x3);

    padding: 3px 7px;
    min-width: var(--x5);

    background-color: var(--badgeBgColor);

    border-radius: 6px;
    border: 1px solid var(--borderColor);

    cursor: default;
}
