:root {
    /* notify */
    --toastify-font-family: inhereted;

    /* app */
    --touchAreaPadding: 8px;
}

body,
html,
#root {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

.visuallyhidden:not(:focus):not(:active) {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* app */

.app {
    height: 100%;
    overflow: auto;
    padding: 0 4px;
    block-size: 100%;
    max-width: 1280px;
    display: flex;
    flex-direction: column;
}

.app-header {
    border-bottom: 1px solid #e8e8e8;
    display: flex;
    align-items: center;
}

.app-header-menu-button {
    margin: var(--touchAreaPadding, 8px);
    height: 40px;
    width: 40px;
    border: 0;
    cursor: pointer;
    background-color: white;
    vertical-align: sub;
}

.app-header-icon {
    height: 32px;
    width: 32px;
    vertical-align: text-bottom;
    margin-right: 8px;
    margin-left: 4px;
}

.app-header-title {
    font-size: 1.5rem;
    display: inline-block;
    flex: 1;
}

.app-container {
    width: 100%;
    flex: 1;
    align-items: flex-start;
    overflow-y: auto;
    overflow-x: hidden;
}

/* media queries */

@media only screen and (min-width: 641px) {
    .app {
        padding: 0 8px;
    }

    .app-container {
        display: flex;
        flex-direction: row;
        gap: 16px;
    }

    .app-header {
        border-bottom: none;
    }

    .app-header-icon {
        margin-left: 0;
    }
}

@media only screen and (min-width: 1281px) {
    .app {
        padding: 0;
        margin: 0 auto;
    }
}

/* меняем глобально шрифт и размеры для мобил и десктопа */
@media (pointer: coarse) {
    input[type='checkbox'],
    input[type='radio'] {
        min-width: 20px;
        min-height: 20px;
        background: transparent;
        margin: var(--touchAreaPadding, 8px);
    }

    :root {
        --touchAreaPadding: 12px;
    }
}
