:root {
    /* notify */
    --toastify-font-family: inhereted;

    /* app */
    --touchAreaPadding: 8px;

    --x: 4px;
    --x2: 8px;
    --x3: 12px;
    --x4: 16px;
    --x5: 20px;
    --x6: 24px;
    --x7: 28px;
    --x8: 32px;
    --x9: 36px;
    --x10: 40px;
    --x11: 44px;

    /* colors */
    --primaryColor: hsl(214deg 100% 90%);
    --primaryLightColor: hsl(214deg 100% 97%);
    --primaryDarkColor: hsl(214deg 100% 60%);
    --primaryGrayColor: hsl(214deg 34.3% 59.41%);

    --secondaryColor: hsl(90deg 100% 80%);
    --secondaryDarkColor: hsl(90.17deg 100% 35%);

    --itemHoverColor: hsl(60deg 100% 95%);

    --borderColor: hsl(0deg 0% 90.98%);

    --primaryTextColor: hsl(214.29deg 100% 30%);
}

* {
    box-sizing: border-box;
    outline-color: var(--primaryDarkColor);
}

button {
    color: var(--primaryTextColor);
}

button:disabled {
    color: revert;
    cursor: not-allowed;
}

html,
body,
#root {
    height: 100%;
    margin: 0;
}

#root {
    height: 100%;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Noto Sans', Helvetica, Arial, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji';
    overflow: hidden;
    color: var(--primaryTextColor);
    transition: opacity 1s ease;
    overflow: hidden;
}

.hidden {
    opacity: 0;
}

.visuallyhidden:not(:focus):not(:active) {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* app */

.app {
    height: 100%;
    overflow: hidden;
    padding: 0 var(--x);
    block-size: 100%;
    max-width: 1100px;
    display: flex;
    flex-direction: column;
}

.app-header {
    border-bottom: 1px solid var(--borderColor);
    display: flex;
    align-items: center;
}

.app-header-menu-button {
    margin: var(--touchAreaPadding, 8px);
    height: var(--x10);
    width: var(--x10);
    border: 0;
    cursor: pointer;
    background-color: white;
    vertical-align: sub;
}

.app-header-icon {
    height: var(--x8);
    width: var(--x8);
    vertical-align: text-bottom;
    margin-right: var(--x2);
    margin-left: var(--x2);
}

.app-header-title {
    font-size: 1.5rem;
    display: inline-block;
    flex: 1;
}

.app-container {
    width: 100%;
    flex: 1;
    align-items: flex-start;
    overflow: auto;
}

/* media queries */

@media only screen and (min-width: 641px) {
    .app {
        padding: 0 var(--x2);
    }

    .app-container {
        display: flex;
        flex-direction: row;
        gap: var(--x4);
    }

    .app-header {
        border-bottom: none;
    }

    .app-header-icon {
        margin-left: 0;
    }
}

@media only screen and (min-width: 1100px) {
    .app {
        padding: 0;
        margin: 0 auto;
    }
}

@media only screen and (min-height: 640px) {
    .app-header {
        height: 80px;
    }
}

/* меняем глобально шрифт и размеры для мобил и десктопа */
@media (pointer: coarse) {
    input[type='checkbox'],
    input[type='radio'] {
        height: var(--x5);
        width: var(--x5);
        background: transparent;
        margin: var(--x3, 8px);
    }
    input {
        padding: var(--x2);
    }

    :root {
        --touchAreaPadding: 8px;
    }
}
