.category-header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 8px;

    background-color: rgb(206, 227, 255);
}

.category-header h4 {
    line-height: 2;
    margin: 0;
    flex: 1;
}

.category-header-button {
    padding: 2px;
    margin: 0 8px;
    height: 24px;
    width: 24px;
    border: 0;
    cursor: pointer;
    background-color: #cee3ff;
    color: rgb(107, 107, 107);
}

.category-header-button-icon {
    fill: #cee3ff;
    height: 100%;
    width: 100%;
}

@media (hover: hover) {
    .category-header-button-icon:hover {
        fill: #2e88ff;
        color: white;
    }
}

.category-header-form-container {
    border: 1px solid #e8e8e8;
    background-color: #f3f8ff;
}
