.CategoryHeader .CheckButton {
    height: var(--x9);
    width: var(--x9);
    background-color: var(--primaryColor);
    color: gray;
    margin-right: 2px;
}

.CategoryHeader-Container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: var(--x2);

    background-color: var(--primaryColor);
}

.CategoryHeader-ButtonIcon {
    fill: var(--primaryColor);
}

@media (hover: hover) {
    .CategoryHeader-ButtonIcon:hover {
        fill: var(--primaryDarkColor);
        color: white;
    }
}

.CategoryHeader-FormContainer {
    border: 1px solid var(--borderColor);
    background-color: var(--primaryLightColor);
}

@media (pointer: coarse) {
    .CategoryHeader .CheckButton {
        height: var(--x11);
        width: var(--x11);
        margin-right: 0;
    }
}
