.category-header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: var(--x2);

    background-color: var(--primaryColor);
}

.category-header .checkButton {
    height: var(--x9);
    width: var(--x9);
    background-color: var(--primaryColor);
    color: gray;
    margin-right: 2px;
}

.category-header-button-icon {
    fill: var(--primaryColor);
}

@media (hover: hover) {
    .category-header-button-icon:hover {
        fill: var(--primaryDarkColor);
        color: white;
    }
}

.category-header-form-container {
    border: 1px solid var(--borderColor);
    background-color: var(--primaryLightColor);
}

@media (pointer: coarse) {
    .category-header .checkButton {
        height: var(--x11);
        width: var(--x11);
        margin-right: 0;
    }
}
