.Calendar-Header {
    padding: 1px 0;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    border-right: 0;
    font-size: 0.9rem;
    background-color: var(--primaryLightColor);
    border-bottom: 1px solid var(--primaryColor);
    gap: 8px;
}

.Calendar-Header_selected {
    background-color: var(--secondaryColor);
}

.Calendar-HeadNav {
    display: flex;
    min-width: 170px;
    align-items: center;
    flex-grow: 1;
}

.Calendar-Title {
    flex: 1;
    display: inline-block;
    text-align: center;
}

.Calendar-PrevMonth,
.Calendar-NextMonth {
    font-weight: 600;
    height: var(--x6);
    width: var(--x8);
    border: 1px solid var(--primaryLightColor);
}

.Calendar-Header_selected .Calendar-PrevMonth,
.Calendar-Header_selected .Calendar-NextMonth {
    background-color: var(--secondaryColor);
}

.Calendar-TodayButton {
    height: 24px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    font-weight: 500;
}

.Calendar-TodayButtonContainer {
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
}

@media (pointer: coarse) {
    .Calendar-PrevMonth,
    .Calendar-NextMonth {
        height: var(--x8);
        width: var(--x11);
    }

    .Calendar-HeadNav {
        min-width: 195px;
    }
}
