.navPanel {
    width: 100%;
    border-top: 1px solid #e3e3e3;
    border-left: 1px solid #e3e3e3;
    border-right: 1px solid #e3e3e3;
}

/* @media only screen and (min-width: 480px) {
    .navPanel {
        width: 170px;
    }
} */

@media only screen and (min-width: 640px) {
    .navPanel {
        width: 190px;
    }
}

@media only screen and (min-width: 800px) {
    .navPanel {
        width: 250px;
    }
}
