:root {
    /* notify */
    --toastify-font-family: inhereted;

    /* app */
    --touchAreaPadding: 8px;

    --x: 4px;
    --x2: 8px;
    --x3: 12px;
    --x4: 16px;
    --x5: 20px;
    --x6: 24px;
    --x7: 28px;
    --x8: 32px;
    --x9: 36px;
    --x10: 40px;
    --x11: 44px;

    /* colors */
    --primaryColor: hsl(214deg 100% 90%);
    --primaryLightColor: hsl(214deg 100% 97%);
    --primaryDarkColor: hsl(214deg 100% 60%);
    --primaryGrayColor: hsl(214deg 34.3% 59.41%);
    --secondaryColor: hsl(90deg 100% 80%);
    --secondaryDarkColor: hsl(90.17deg 100% 35%);
    --itemHoverColor: hsl(60deg 100% 95%);
    --borderColor: hsl(0deg 0% 90.98%);
    --primaryTextColor: hsl(214.29deg 100% 30%);
    --accentColor: hsl(6.58deg 73.74% 61.18%);
}

* {
    box-sizing: border-box;
    outline-color: var(--primaryDarkColor);
}

html,
body,
#root {
    height: 100%;
    margin: 0;
    font-size: 100%;
}

#root {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Noto Sans', Helvetica, Arial, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji';
    overflow: hidden;
    color: var(--primaryTextColor);
    transition: opacity 1s ease;
    overflow: hidden;
}

.hidden {
    opacity: 0;
}

.visuallyhidden:not(:focus):not(:active) {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
