.CalendarHeader {
    padding: 1px 0;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    border-right: 0;
    background-color: var(--primaryLightColor);
    border-bottom: 1px solid var(--primaryColor);
    gap: 8px;
    height: var(--x8);
}

.CalendarHeader_selected {
    background-color: var(--secondaryColor);
}

.CalendarHeader-MonthsNavigation {
    display: flex;
    align-items: center;
    min-width: 174px;
    flex-grow: 1;
}

.CalendarHeader-Title {
    flex: 1;
    display: inline-block;
    text-align: center;
    width: 110px;
}

.CalendarHeader-PrevMonth,
.CalendarHeader-NextMonth {
    background-color: transparent;
    border: 0;
    font-weight: 600;
    height: var(--x8);
    width: var(--x8);
}

.CalendarHeader-TodayButtonContainer {
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    margin-right: var(--x2);
}

.CalendarHeader-TodayButton {
    height: 24px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    font-size: 1rem;
}

@media (pointer: coarse) {
    .CalendarHeader {
        height: var(--x9);
    }

    .CalendarHeader-PrevMonth,
    .CalendarHeader-NextMonth {
        height: var(--x8);
        width: var(--x11);
    }

    .CalendarHeader-HeadNav {
        min-width: 195px;
    }
}
