.todoListItem {
    list-style: none;

    display: flex;
    align-items: center;

    padding: var(--x) 0;
    border-bottom: 1px solid var(--borderColor);
}

@media (hover: hover) {
    .todoListItem:hover {
        background-color: var(--itemHoverColor);
    }
}

.todoListItem-checkbox {
    cursor: pointer;
    margin: var(--x2);
}

.todoListItem-label {
    flex: 1;
    cursor: pointer;
}
