.todoListItem {
    list-style: none;

    display: flex;
    align-items: center;

    min-height: 38px;
    border-bottom: 1px solid var(--borderColor);
}

@media (hover: hover) {
    .todoListItem:hover {
        background-color: var(--itemHoverColor);
    }
}

.todoListItem-checkbox {
    margin: var(--x2);
    cursor: pointer;
}

.todoListItem-label {
    flex: 1;
    cursor: pointer;
}

@media (pointer: coarse) {
    .todoListItem {
        min-height: 48px;
    }
}
