.todoList-list-item {
    list-style: none;
}

.todoList-list-item:hover {
    background-color: #ffffcc;
}

.todoList-list-item-checkbox {
    cursor: pointer;
}

.todoList-list-item-label {
    cursor: pointer;
}
