.ExpandButton {
    cursor: pointer;

    height: var(--x9);
    margin: 0;
    padding: var(--touchAreaPadding, 8px);

    border: 0;
}

@media (pointer: coarse) {
    .ExpandButton {
        width: var(--x11);
        height: var(--x11);
    }
}
