.ExpandButton {
    cursor: pointer;

    block-size: var(--x9);
    margin: 0;
    padding: var(--touchAreaPadding, 8px);

    border: 0;
}

@media (pointer: coarse) {
    .ExpandButton {
        inline-size: var(--x11);
        block-size: var(--x11);
    }
}
