.Calendar-Day {
    line-height: 0.9;
    min-height: var(--x8);
    min-width: var(--x8);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    opacity: 1;
    position: relative;
}

.Calendar-Day::after {
    display: block;
    position: absolute;

    top: 4%;
    left: 0;
    right: 0%;
    width: 90%;

    content: attr(data-todos);

    font-size: 10px;
    font-weight: 600;
    text-align: right;
}

.Calendar-Day_weekend {
    color: var(--accentColor);
}

.Calendar-Day_other_month {
    opacity: 0.3;
}

.Calendar-Day_today {
    border: 2px solid var(--accentColor);
    border-radius: var(--x);
}
.Calendar-Day_selected {
    background-color: var(--secondaryColor);
}

@media (hover: hover) {
    .Calendar-Day:hover {
        background-color: var(--itemHoverColor);
    }
    .Calendar-Day_selected:hover {
        background-color: var(--secondaryColor);
    }
}

@media (pointer: coarse) {
    .Calendar-Day {
        min-height: var(--x10);
        min-width: var(--x10);
    }
}
