.CalendarDay {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: start;
    padding-left: 25%;
    padding-bottom: 5%;
    line-height: 0.9;
    min-height: var(--x9);
    min-width: var(--x9);
    background-color: white;
    border: 2px solid transparent;
    opacity: 1;
    cursor: pointer;
}

.CalendarDay::after {
    display: block;
    position: absolute;

    top: 4%;
    left: 0;
    right: 0;
    width: 80%;

    content: attr(data-todos);
    /* content: '55'; */

    font-size: 11px;
    font-weight: 600;
    text-align: right;
    color: hsl(214deg 100% 50%);
}

.CalendarDay_weekend {
    color: var(--accentColor);
}

.CalendarDay_other_month {
    opacity: 0.3;
}

.CalendarDay_today {
    border: 2px solid var(--accentColor);
    border-radius: var(--x);
}
.CalendarDay_selected {
    background-color: var(--secondaryColor);
}

@media (hover: hover) {
    .CalendarDay:hover {
        background-color: var(--itemHoverColor);
    }
    .CalendarDay_selected:hover {
        background-color: var(--secondaryColor);
    }
}

@media (pointer: coarse) {
    .CalendarDay {
        min-height: var(--x10);
        min-width: var(--x10);
        padding-bottom: 10%;
    }

    .CalendarDay::after {
        top: 15%;
        width: 80%;
    }
}

@media only screen and (min-width: 641px) {
    .CalendarDay {
        padding-left: 15%;
    }

    .CalendarDay::after {
        width: 90%;
    }
}
