/* form */

.create-category-form {
    padding: 16px;
    text-align: right;
    border: 1px solid #e8e8e8;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: right;
    gap: 8px;
}

.create-category-form-input {
    height: 22px;
    flex: 1;
}

.create-category-form-button {
    height: 29px;
    margin-left: 8px;
    background-color: rgb(207, 255, 159);
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
}

@media only screen and (min-width: 640px) {
    .create-category-form {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding: 8px;
    }
}
