.create-category-form {
    padding: var(--x2);
    text-align: right;
    margin-left: auto;
}

.create-category-form-input {
    font-size: 1rem;
    display: flex;
    flex: 1;
}

.create-category-form-button {
    padding: var(--x2) var(--x4);
    margin-left: var(--x2);

    font-weight: 600;
    color: white;
    background-color: var(--primaryDarkColor);
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    border-color: var(--primaryDarkColor);
}

.create-category-form-button:disabled {
    color: var(--borderColor);
    background-color: var(--primaryGrayColor);
}

/* icon group */
.create-category-form-icons {
    text-align: end;
    margin-top: var(--x2);
    margin-bottom: var(--x2);
}

.create-category-form-icon-cb {
    display: none;
}

.create-category-form-icon-label {
    margin-left: 2px;
}

.create-category-form-icon-cb + img {
    height: var(--x9);
    width: var(--x9);
    padding: calc(var(--x) + 2px);
    border: 2px solid var(--primaryLightColor);
    border-radius: 4px;
    cursor: pointer;
    outline-color: var(--primaryDarkColor);
}

.create-category-form-icon-cb:checked + img {
    border: 2px solid var(--primaryDarkColor);
}

@media only screen and (min-width: 641px) {
    .create-category-form {
        padding: var(--x2);
    }
}

@media (pointer: coarse) {
    .create-category-form-button {
        padding: var(--touchAreaPadding, 8px) var(--x4);
    }

    .create-category-form-icon-cb + img {
        height: var(--x11);
        width: var(--x11);
    }
}
