/* form */

.create-category-form {
    padding: 8px;
    text-align: right;
    width: 192px;
    margin-left: auto;
}

.create-category-form-input {
    height: 22px;
    width: 180px;
}

.create-category-form-button {
    height: 29px;
    margin-left: 8px;
    padding: 0 16px;
    font-weight: bold;
    color: white;
    background-color: #2e88ff;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
}

.create-category-form-button:disabled {
    color: lightgray;
    filter: grayscale(0.6);
}

/* icon group */
.create-category-form-icons {
    text-align: end;
    margin-top: 8px;
    margin-bottom: 8px;
}

.create-category-form-icon-cb {
    display: none;
}

.create-category-form-icon-label {
    margin-left: 2px;
}

.create-category-form-icon-cb + img {
    padding: 2px;
    border: 2px solid white;
    cursor: pointer;
}

.create-category-form-icon-cb:checked + img {
    border: 2px solid #2e88ff;
}

@media only screen and (min-width: 640px) {
    .create-category-form {
        padding: 8px;
    }
}
