.icon-container {
    position: relative;
    inline-size: 100px;
    block-size: 100px;
}

.icon {
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 0;
    animation: bounce 1s ease-in-out infinite;
}

@keyframes bounce {
    0%,
    100% {
        transform: translateY(0) scale(1);
        transform: translateX(0) scale(1);
    }

    50% {
        transform: translateY(20px) scale(0.8);
    }
}
