.TodoListItem {
    list-style: none;

    display: flex;
    align-items: center;

    min-height: 36px;
    border-bottom: 1px solid var(--borderColor);
    padding-right: var(--x2);
}

.TodoListItem-Label {
    padding: var(--x2) 0;
}

@media (hover: hover) {
    .TodoListItem:hover {
        background-color: var(--itemHoverColor);
    }
}

.TodoListItem-Checkbox {
    cursor: pointer;
    margin: 0 var(--x3);
    accent-color: var(--primaryDarkColor);
}

.TodoListItem-Label {
    flex: 1;
    cursor: pointer;
}
