.navPanel-item {
    display: flex;
    align-items: center;
    cursor: pointer;

    border-bottom: 1px solid var(--borderColor);
}

@media (hover: hover) {
    .navPanel-item:hover {
        background-color: var(--itemHoverColor);
    }
}

.navPanel-item_selected {
    background-color: var(--secondaryColor);
}

@media (hover: hover) {
    .navPanel-item_selected:hover {
        background-color: var(--secondaryColor);
    }
}

.navPanel-item-link {
    text-decoration: none;
    color: black;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    flex: 1;
}

.navPanel-item-icon {
    margin: var(--touchAreaPadding, 8px);
    height: var(--x5);
    width: var(--x5);
    vertical-align: text-bottom;
}

.navPanel-item-badge {
    height: var(--x6);
    margin: var(--touchAreaPadding, 8px);
}

.navPanel-item .expandButton {
    background-color: var(--secondaryColor);
    fill: var(--secondaryColor);
    color: gray;
}

@media (hover: hover) {
    .navPanel-item .expandButton > svg:hover {
        fill: var(--secondaryDarkColor);
        color: white;
    }
}
