.NavItem {
    display: flex;
    align-items: center;
    cursor: pointer;

    border: 1px solid var(--borderColor);
    border-top: 0;
}

@media (hover: hover) {
    .NavItem:hover {
        background-color: var(--itemHoverColor);
    }
}

.NavItem_selected {
    background-color: var(--secondaryColor);
}

@media (hover: hover) {
    .NavItem_selected:hover {
        background-color: var(--secondaryColor);
    }
}

.NavItem-Link {
    margin-right: 2px;
    text-decoration: none;
    color: black;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    flex: 1;
}

.NavItem-Icon {
    height: var(--x9);
    width: var(--x9);
    padding: var(--touchAreaPadding, 8px);
    vertical-align: text-bottom;
}

.NavItem .Badge {
    margin: var(--touchAreaPadding, 8px);
}

.NavItem .ExpandButton {
    fill: var(--secondaryColor);
    color: gray;

    background-color: var(--secondaryColor);
    margin-right: 2px;
}

@media (hover: hover) {
    .NavItem .ExpandButton > svg:hover {
        fill: var(--secondaryDarkColor);
        color: white;
    }
}

@media (pointer: coarse) {
    .NavItem .ExpandButton {
        margin-right: 0;
    }

    .NavItem-Icon {
        height: var(--x11);
        width: var(--x11);
    }
}
