.navPanel-item {
    line-height: 2;
    border-bottom: 1px solid #e8e8e8;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    cursor: pointer;
}

.navPanel-item[data-selected='true'] {
    background-color: rgb(207, 255, 159);
}

.navPanel-item a {
    text-decoration: none;
}
