.App {
    overflow: hidden;
    display: flex;
    flex-direction: column;

    max-inline-size: 968px;
    block-size: 100%;
    padding-block: 0;
    padding-inline: var(--x);
}

.App__Container {
    overflow: hidden;
    flex: 1;
    inline-size: 100%;
}

.App__Container_scrolled {
    border-block-start: 1px solid var(--primaryColor);
}

.App__NavPanel {
    display: block;
}

.App__TodoList {
    display: block;
}

@media only screen and (width >= 641px) {
    .App {
        padding-block: 0;
        padding-inline: var(--x2);
    }

    .App__Container {
        display: flex;
        flex-direction: row;
        gap: var(--x4);
    }
}

@media only screen and (width >= 980px) {
    .App {
        margin-block: 0;
        margin-inline: auto;
        padding: 0;
    }
}

/* меняем глобально шрифт и размеры для мобил и десктопа */
@media (pointer: coarse) {
    input {
        padding: var(--x2);
    }

    input[type='checkbox'],
    input[type='radio'] {
        inline-size: var(--x5);
        block-size: var(--x5);
        margin: var(--x3, 8px);
        background: transparent;
    }

    :root {
        --touchAreaPadding: 8px;
    }
}
