.App {
    overflow: hidden;
    display: flex;
    flex-direction: column;

    max-width: 968px;
    height: 100%;
    block-size: 100%;
    padding: 0 var(--x);
}

.App__Container {
    overflow: hidden;
    flex: 1;
    width: 100%;
}

.App__Container_scrolled {
    border-top: 1px solid var(--primaryColor);
}

.App__NavPanel {
    display: block;
}

.App__TodoList {
    display: block;
}

@media only screen and (width >= 641px) {
    .App {
        padding: 0 var(--x2);
    }

    .App__Container {
        display: flex;
        flex-direction: row;
        gap: var(--x4);
    }
}

@media only screen and (width >= 980px) {
    .App {
        margin: 0 auto;
        padding: 0;
    }
}

/* меняем глобально шрифт и размеры для мобил и десктопа */
@media (pointer: coarse) {
    input {
        padding: var(--x2);
    }

    input[type='checkbox'],
    input[type='radio'] {
        width: var(--x5);
        height: var(--x5);
        margin: var(--x3, 8px);
        background: transparent;
    }

    :root {
        --touchAreaPadding: 8px;
    }
}
