@font-face {
    font-family: robotoregular;
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('../../../../assets/roboto-regular-webfont.woff2') format('woff2');
}

:root {
    --font-family: 'robotoregular', -apple-system, blinkmacsystemfont, 'Segoe UI', 'Noto Sans', helvetica, arial,
        sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
    --isTouch: 0;

    /* sizes */
    --x: 4px;
    --x2: 8px;
    --x3: 12px;
    --x4: 16px;
    --x5: 20px;
    --x6: 24px;
    --x7: 28px;
    --x8: 32px;
    --x9: 36px;
    --x10: 40px;
    --x11: 44px;

    /* colors */
    --primaryColor: hsl(214deg 100% 90%);
    --primaryLightColor: hsl(214deg 100% 97%);
    --primaryDarkColor: hsl(214deg 100% 60%);
    --primaryGrayColor: hsl(214deg 34.3% 59.41%);
    --secondaryColor: hsl(90deg 100% 80%);
    --secondaryDarkColor: hsl(90.17deg 100% 35%);
    --itemHoverColor: hsl(60deg 100% 95%);
    --borderColor: hsl(0deg 0% 90.98%);
    --primaryTextColor: hsl(214.29deg 100% 30%);
    --accentColor: hsl(6.58deg 73.74% 61.18%);

    /* notify */
    --toastify-font-family: var(--font-family);
}

@media (pointer: coarse) {
    :root {
        --isTouch: 1;
    }
}

html,
body,
#root {
    inline-size: 100%;
    block-size: 100%;
    margin: 0;
    font-size: 100%;
}

html {
    font-family: var(--font-family);
    color: var(--primaryTextColor);
}

#root {
    /* только тут должен быть hidden чтобы работал pull to refresh */
    overflow: hidden;
    transition: opacity 1s ease;
}

.hidden {
    opacity: 0;
}
