.navPanel {
    width: 100%;

    border-top: 1px solid #e3e3e3;
    border-left: 1px solid #e3e3e3;
    border-right: 1px solid #e3e3e3;
    margin-bottom: 32px;
}

.navPanel ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navPanel h2 {
    font-size: 1.1rem;
    line-height: 2;
    margin: 0;
    padding-left: 8px;
    background-color: rgb(206, 227, 255);
}

@media only screen and (min-width: 641px) {
    .navPanel {
        width: 214px;
    }
}

@media only screen and (min-width: 801px) {
    .navPanel {
        width: 250px;
    }
}
