.navPanel {
    width: 100%;

    border: 1px solid var(--borderColor);
    border-bottom: 0;

    margin-bottom: var(--x8);
}

.navPanel ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navPanel h2 {
    font-size: 1.1rem;
    line-height: 2;
    margin: 0;
    padding-left: var(--x2);
    background-color: var(--primaryColor);
    border-top: 1px solid var(--primaryColor);
    border-bottom: 1px solid var(--primaryColor);
}

@media only screen and (min-width: 641px) {
    .navPanel {
        width: 242px;
    }
}

@media (pointer: coarse) {
    .navPanel h2 {
        line-height: 46px;
    }
}
