.NavPanel {
    width: 100%;
    padding-bottom: var(--x9);
}

.NavPanel ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.NavPanel h2 {
    font-size: 1.1rem;
    line-height: var(--x9);
    margin: 0;
    padding-left: var(--x2);
    background-color: var(--primaryColor);
    border-top: 1px solid var(--primaryColor);
    border-bottom: 1px solid var(--primaryColor);
}

@media only screen and (min-width: 641px) {
    .NavPanel {
        width: 256px;
    }

    @media (pointer: coarse) {
        .NavPanel {
            width: 294px;
        }
    }
}

@media (pointer: coarse) {
    .NavPanel h2 {
        line-height: var(--x11);
    }
}
