.todoList {
    flex: 1;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.todoList-header {
    font-size: 1.1rem;
    line-height: 2;
    margin: 0;
    background-color: #cfff9f;
    border-top: 1px solid #cfff9f;
    border-bottom: 1px solid #cfff9f;
}

.todoList-header-icon {
    height: 20px;
    width: 20px;
    margin: 8px;
    vertical-align: bottom;
}

.todoList-header-count {
    font-weight: 400;
    font-size: smaller;
    margin-left: 4px;
}

.todoList-list {
    padding: 0;
    margin: 0;
}
