.App {
    height: 100%;
    overflow: hidden;
    block-size: 100%;
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    padding: 0 var(--x);
}

.App-Container {
    width: 100%;
    flex: 1;
    align-items: flex-start;
    overflow: auto;
    scroll-behavior: smooth;
}

.App-Container_scrolled {
    border-top: 1px solid var(--primaryColor);
}

@media only screen and (min-width: 641px) {
    .App {
        padding: 0 var(--x2);
    }

    .App-Container {
        display: flex;
        flex-direction: row;
        gap: var(--x4);
    }
}

@media only screen and (min-width: 1100px) {
    .App {
        padding: 0;
        margin: 0 auto;
    }
}

/* меняем глобально шрифт и размеры для мобил и десктопа */
@media (pointer: coarse) {
    input[type='checkbox'],
    input[type='radio'] {
        height: var(--x5);
        width: var(--x5);
        background: transparent;
        margin: var(--x3, 8px);
    }
    input {
        padding: var(--x2);
    }

    :root {
        --touchAreaPadding: 8px;
    }
}
