.DottedMenuButton {
    cursor: pointer;

    height: var(--x9);
    margin: 0;
    padding: var(--touchAreaPadding, 8px);

    background-color: transparent;
    border: 0;
}

@media (pointer: coarse) {
    .DottedMenuButton {
        width: var(--x11);
        height: var(--x11);
    }
}
