.DottedMenuButton {
    cursor: pointer;

    inline-size: var(--x9);
    margin: 0;
    padding: var(--touchAreaPadding, 8px);

    background-color: transparent;
    border: 0;
}

@media (pointer: coarse) {
    .DottedMenuButton {
        inline-size: var(--x11);
        block-size: var(--x11);
    }
}
