.TodoListHeader {
    display: flex;
    flex: 1;
    align-items: center;
    background-color: var(--secondaryColor);
    border-top: 1px solid var(--secondaryColor);
    border-bottom: 1px solid var(--secondaryColor);
}

.TodoListHeader-Icon {
    height: var(--x9);
    width: var(--x9);
    padding: var(--touchAreaPadding, 8px);
    vertical-align: bottom;
}

.TodoListHeader-Title {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.TodoListHeader-Title h3 {
    margin: 0;
    font-size: 1.1rem;
    font-weight: 500;
}

.TodoListHeader-Count {
    font-weight: 400;
    font-size: var(--x3);
}

@media (pointer: coarse) {
    .TodoListHeader-Icon {
        height: var(--x11);
        width: var(--x11);
    }
}
