.AppHeader {
    display: flex;
    gap: var(--x2);
    align-items: center;
}

.AppHeader__Icon {
    inline-size: var(--x8);
    block-size: var(--x8);
    margin-inline-start: var(--x2);
    vertical-align: text-bottom;
}

.AppHeader__Title {
    display: inline-block;
    flex: 1;
    font-size: 1.5rem;
    font-weight: 400;
}

.AppHeader__MenuButton {
    cursor: pointer;

    inline-size: var(--x10);
    block-size: var(--x10);
    margin: var(--touchAreaPadding, 8px);

    vertical-align: sub;

    background-color: white;
    border: 0;
    border-radius: var(--x6);
}

@media (hover: hover) {
    .AppHeader__MenuButton:hover {
        background-color: var(--primaryLightColor);
    }
}

@media only screen and (width >= 641px) {
    .AppHeader__Icon {
        margin-inline-start: 0;
    }
}

@media only screen and (height >= 640px) {
    .AppHeader {
        block-size: 80px;
    }

    .AppHeader__Title {
        font-size: 1.7rem;
    }
}
