.Calendar {
    border-left: 1px solid var(--borderColor);
    border-right: 1px solid var(--borderColor);
    padding-bottom: var(--x);
}

.Calendar-Button {
    cursor: pointer;
}

.Calendar-Button:active:not(:disabled) {
    border: 1px solid var(--primaryDarkColor);
}
