.Calendar {
    border-left: 1px solid var(--borderColor);
    border-right: 1px solid var(--borderColor);
}

.Calendar-Header {
    display: flex;
    flex-direction: row;
    border: 1px solid var(--borderColor);
    border-right: 0;
}

.Calendar-Title {
    flex: 1;
    display: inline-block;
    text-align: center;
}

.Calendar-PrevMonth,
.Calendar-NextMonth {
    height: var(--x6);
    width: var(--x6);
}

.Calendar-TodayButton {
    height: var(--x9);
    width: 100%;
    cursor: pointer;
}

.Calendar-WeekNames {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.Calendar-WeekName {
    flex: 1;
    text-align: center;
}

.Calendar-WeekName + .Calendar-WeekName {
    border-right: 1px solid var(--borderColor);
}

.Calendar-Body {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.Calendar-Day {
    min-height: var(--x8);
    min-width: var(--x8);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (pointer: coarse) {
    .Calendar-Day {
        min-height: var(--x10);
        min-width: var(--x10);
    }

    .Calendar-PrevMonth,
    .Calendar-NextMonth {
        height: var(--x8);
        width: var(--x8);
    }
}
